
html body {
        background-color: #DFE2DB;
}

h1 {
	margin: auto;
	padding-top: 50px;
	text-align: center;
}

h3 {
        margin: auto;
        padding-top: 50px;
        text-align: center;
}

#dialogue {
	display: inline-block;
	text-align: left;
}

.human {
	font-size: 28px;
	background-color: white;
	font-family: 'Caveat Brush', cursive;
}

.eliza {
	font-size: 27px;
	background-color: white;
	font-family: 'Play', sans-serif;
}
